<launch>
  <!--  1) Use sim time  -->
  <param name="use_sim_time" value="true"/>
  <param name="/use_sim_time" value="true"/>

  <!--  2) How many bots + which config set to load  -->
  <arg name="num_bots" default="3"/>
  <!-- config is derived automatically: 3bot for ≤3 robots, 5bot for ≥4.
       Override explicitly with config:=3bot or config:=5bot if needed. -->
  <arg name="config" default="$(eval '5bot' if int(arg('num_bots')) >= 4 else '3bot')"/>

  <!--  3) Start Gazebo with a world of my choosing -->

  <!-- Set world file path relative to this package -->
  <arg name="world_path" default="$(find swarm_explorer)/launch/worlds/world_4_small.world"/>
  <!-- <arg name="world_path" default="$(find gazebo_ros)/worlds/empty.world"/> -->

  <!-- Launch Gazebo with your custom world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_path)"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>


  <!-- Static transforms from map to odom for each robot -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom_1" 
        args="0 0 0 0 0 0 map robot_1/odom"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom_2" 
        args="0 0 0 0 0 0 map robot_2/odom"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom_3" 
        args="0 0 0 0 0 0 map robot_3/odom"/>
  <node if="$(eval arg('num_bots') >= 4)" pkg="tf2_ros" type="static_transform_publisher"
        name="map_to_odom_4" args="0 0 0 0 0 0 map robot_4/odom"/>
  <node if="$(eval arg('num_bots') >= 5)" pkg="tf2_ros" type="static_transform_publisher"
        name="map_to_odom_5" args="0 0 0 0 0 0 map robot_5/odom"/>

  <!--  4) Spawn TurtleBot3 #1  -->
  <group ns="robot_1">
    <param 
      name="robot_description"
      command="$(find xacro)/xacro '$(find turtlebot3_description)/urdf/turtlebot3_burger.urdf.xacro'"/>
    <param name="tf_prefix" value="robot_1"/>
  </group>
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_robot_1"
        args="-param /robot_1/robot_description 
              -urdf 
              -model robot_1 
              -x 0 -y 0 -z 0.0 
              -robot_namespace /robot_1"/>
  
  <rosparam ns="robot_1/diff_drive_controller">
    odom_frame_id:   'robot_1/odom'
    base_frame_id:   'robot_1/base_footprint'
    publish_rate: 50.0
    linear:
      x:
        has_velocity_limits: true
        max_velocity: 0.22
        has_acceleration_limits: true
        max_acceleration: 0.5
    angular:
      z:
        has_velocity_limits: true
        max_velocity: 2.84
        has_acceleration_limits: true
        max_acceleration: 3.2
  </rosparam>

  <!-- Publish joint states -->
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher_1">
    <remap from="robot_description" to="/robot_1/robot_description"/>
    <remap from="joint_states" to="/robot_1/joint_states"/>
    <param name="use_gui" value="false"/>
  </node>
  
  <!-- Publish TFs from the URDF -->
  <node pkg="robot_state_publisher"
        type="robot_state_publisher"
        name="robot_state_publisher_1"
        output="screen">
    <remap from="robot_description" to="/robot_1/robot_description"/>
    <remap from="joint_states" to="/robot_1/joint_states"/>
    <param name="tf_prefix" value="robot_1"/>
    <param name="publish_frequency" value="50.0"/>
    <param name="use_tf_static" value="true"/>
  </node>

  <!--  5) Spawn TurtleBot3 #2  -->
  <group ns="robot_2">
    <param 
      name="robot_description"
      command="$(find xacro)/xacro '$(find turtlebot3_description)/urdf/turtlebot3_burger.urdf.xacro'"/>
    <param name="tf_prefix" value="robot_2"/>
  </group>
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_robot_2"
        args="-param /robot_2/robot_description 
              -urdf 
              -model robot_2 
              -x 2 -y 0 -z 0.0 
              -robot_namespace /robot_2"/>
  
  <rosparam ns="robot_2/diff_drive_controller">
    odom_frame_id:   'robot_2/odom'
    base_frame_id:   'robot_2/base_footprint'
    publish_rate: 50.0
    linear:
      x:
        has_velocity_limits: true
        max_velocity: 0.22
        has_acceleration_limits: true
        max_acceleration: 0.5
    angular:
      z:
        has_velocity_limits: true
        max_velocity: 2.84
        has_acceleration_limits: true
        max_acceleration: 3.2
  </rosparam>

  <!-- Publish joint states -->
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher_2">
    <remap from="robot_description" to="/robot_2/robot_description"/>
    <remap from="joint_states" to="/robot_2/joint_states"/>
    <param name="use_gui" value="false"/>
  </node>
  
  <!-- Publish TFs from the URDF -->
  <node pkg="robot_state_publisher"
        type="robot_state_publisher"
        name="robot_state_publisher_2"
        output="screen">
    <remap from="robot_description" to="/robot_2/robot_description"/>
    <remap from="joint_states" to="/robot_2/joint_states"/>
    <param name="tf_prefix" value="robot_2"/>
    <param name="publish_frequency" value="50.0"/>
    <param name="use_tf_static" value="true"/>
  </node>

  <!--  6) Spawn TurtleBot3 #3  -->
  <group ns="robot_3">
    <param 
      name="robot_description"
      command="$(find xacro)/xacro '$(find turtlebot3_description)/urdf/turtlebot3_burger.urdf.xacro'"/>
    <param name="tf_prefix" value="robot_3"/>
  </group>
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_robot_3"
        args="-param /robot_3/robot_description 
              -urdf 
              -model robot_3 
              -x 4 -y 0 -z 0.0 
              -robot_namespace /robot_3"/>
 
  <rosparam ns="robot_3/diff_drive_controller">
    odom_frame_id:   'robot_3/odom'
    base_frame_id:   'robot_3/base_footprint'
    publish_rate: 50.0
    linear:
      x:
        has_velocity_limits: true
        max_velocity: 0.22
        has_acceleration_limits: true
        max_acceleration: 0.5
    angular:
      z:
        has_velocity_limits: true
        max_velocity: 2.84
        has_acceleration_limits: true
        max_acceleration: 3.2
  </rosparam>

  <!-- Publish joint states -->
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher_3">
    <remap from="robot_description" to="/robot_3/robot_description"/>
    <remap from="joint_states" to="/robot_3/joint_states"/>
    <param name="use_gui" value="false"/>
  </node>
  
  <!-- Publish TFs from the URDF -->
  <node pkg="robot_state_publisher"
        type="robot_state_publisher"
        name="robot_state_publisher_3"
        output="screen">
    <remap from="robot_description" to="/robot_3/robot_description"/>
    <remap from="joint_states" to="/robot_3/joint_states"/>
    <param name="tf_prefix" value="robot_3"/>
    <param name="publish_frequency" value="50.0"/>
    <param name="use_tf_static" value="true"/>
  </node>

  <!--  7a) Spawn TurtleBot3 #4 (conditional) -->
  <group if="$(eval arg('num_bots') >= 4)">
    <group ns="robot_4">
      <param name="robot_description"
             command="$(find xacro)/xacro '$(find turtlebot3_description)/urdf/turtlebot3_burger.urdf.xacro'"/>
      <param name="tf_prefix" value="robot_4"/>
    </group>
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_robot_4"
          args="-param /robot_4/robot_description -urdf -model robot_4
                -x -2 -y 0 -z 0.0 -robot_namespace /robot_4"/>
    <rosparam ns="robot_4/diff_drive_controller">
      odom_frame_id:   'robot_4/odom'
      base_frame_id:   'robot_4/base_footprint'
      publish_rate: 50.0
      linear:
        x:
          has_velocity_limits: true
          max_velocity: 0.22
          has_acceleration_limits: true
          max_acceleration: 0.5
      angular:
        z:
          has_velocity_limits: true
          max_velocity: 2.84
          has_acceleration_limits: true
          max_acceleration: 3.2
    </rosparam>
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher_4">
      <remap from="robot_description" to="/robot_4/robot_description"/>
      <remap from="joint_states" to="/robot_4/joint_states"/>
      <param name="use_gui" value="false"/>
    </node>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher_4" output="screen">
      <remap from="robot_description" to="/robot_4/robot_description"/>
      <remap from="joint_states" to="/robot_4/joint_states"/>
      <param name="tf_prefix" value="robot_4"/>
      <param name="publish_frequency" value="50.0"/>
      <param name="use_tf_static" value="true"/>
    </node>
  </group>

  <!--  7b) Spawn TurtleBot3 #5 (conditional) -->
  <group if="$(eval arg('num_bots') >= 5)">
    <group ns="robot_5">
      <param name="robot_description"
             command="$(find xacro)/xacro '$(find turtlebot3_description)/urdf/turtlebot3_burger.urdf.xacro'"/>
      <param name="tf_prefix" value="robot_5"/>
    </group>
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_robot_5"
          args="-param /robot_5/robot_description -urdf -model robot_5
                -x -1 -y 2 -z 0.0 -robot_namespace /robot_5"/>
    <rosparam ns="robot_5/diff_drive_controller">
      odom_frame_id:   'robot_5/odom'
      base_frame_id:   'robot_5/base_footprint'
      publish_rate: 50.0
      linear:
        x:
          has_velocity_limits: true
          max_velocity: 0.22
          has_acceleration_limits: true
          max_acceleration: 0.5
      angular:
        z:
          has_velocity_limits: true
          max_velocity: 2.84
          has_acceleration_limits: true
          max_acceleration: 3.2
    </rosparam>
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher_5">
      <remap from="robot_description" to="/robot_5/robot_description"/>
      <remap from="joint_states" to="/robot_5/joint_states"/>
      <param name="use_gui" value="false"/>
    </node>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher_5" output="screen">
      <remap from="robot_description" to="/robot_5/robot_description"/>
      <remap from="joint_states" to="/robot_5/joint_states"/>
      <param name="tf_prefix" value="robot_5"/>
      <param name="publish_frequency" value="50.0"/>
      <param name="use_tf_static" value="true"/>
    </node>
  </group>

  <!--  8) Start your relay -->
  <include file="$(find swarm_explorer)/launch/swarm_relay.launch"/>

  <!--  8) Load config-set-specific swarm and environment parameters  -->
  <rosparam file="$(eval find('swarm_explorer') + '/config/swarm_params_' + arg('config') + '.yaml')" command="load"/>
  <rosparam file="$(find swarm_explorer)/config/env_config.yaml" command="load"/>

  <!--  9) Launch each explorer_bot, passing the active config set  -->
  <group ns="robot_1">
    <include file="$(find swarm_explorer)/launch/explorer_bot.launch">
      <arg name="robot_id" value="1"/>
      <arg name="config"   value="$(arg config)"/>
    </include>
  </group>
  <group ns="robot_2">
    <include file="$(find swarm_explorer)/launch/explorer_bot.launch">
      <arg name="robot_id" value="2"/>
      <arg name="config"   value="$(arg config)"/>
    </include>
  </group>
  <group ns="robot_3">
    <include file="$(find swarm_explorer)/launch/explorer_bot.launch">
      <arg name="robot_id" value="3"/>
      <arg name="config"   value="$(arg config)"/>
    </include>
  </group>
  <group if="$(eval arg('num_bots') >= 4)" ns="robot_4">
    <include file="$(find swarm_explorer)/launch/explorer_bot.launch">
      <arg name="robot_id" value="4"/>
      <arg name="config"   value="$(arg config)"/>
    </include>
  </group>
  <group if="$(eval arg('num_bots') >= 5)" ns="robot_5">
    <include file="$(find swarm_explorer)/launch/explorer_bot.launch">
      <arg name="robot_id" value="5"/>
      <arg name="config"   value="$(arg config)"/>
    </include>
  </group>

    <!-- Launch Occupancy Grid Mappers — params loaded from config-set YAML -->
  <group ns="robot_1">
    <node name="mapping_node" pkg="mapping" type="mapping_node.py" output="screen"
          args="diff_drive_controller" launch-prefix="bash -c 'sleep 3; $0 $@'">
      <rosparam command="load" file="$(eval find('swarm_explorer') + '/config/mapping_params_' + arg('config') + '.yaml')"/>
      <param name="frames/fixed"  value="map" />
      <param name="frames/sensor" value="robot_1/base_scan" />
      <param name="topics/vis"    value="/robot_1/vis/map" />
      <param name="topics/sensor" value="/robot_1/scan" />
      <param name="vis/publish_hz" value="0.3" />
    </node>
  </group>

  <group ns="robot_2">
    <node name="mapping_node" pkg="mapping" type="mapping_node.py" output="screen"
          args="diff_drive_controller" launch-prefix="bash -c 'sleep 3; $0 $@'">
      <rosparam command="load" file="$(eval find('swarm_explorer') + '/config/mapping_params_' + arg('config') + '.yaml')"/>
      <param name="frames/fixed"  value="map" />
      <param name="frames/sensor" value="robot_2/base_scan" />
      <param name="topics/vis"    value="/robot_2/vis/map" />
      <param name="topics/sensor" value="/robot_2/scan" />
      <param name="vis/publish_hz" value="0.3" />
    </node>
  </group>

  <group ns="robot_3">
    <node name="mapping_node" pkg="mapping" type="mapping_node.py" output="screen"
          args="diff_drive_controller" launch-prefix="bash -c 'sleep 3; $0 $@'">
      <rosparam command="load" file="$(eval find('swarm_explorer') + '/config/mapping_params_' + arg('config') + '.yaml')"/>
      <param name="frames/fixed"  value="map" />
      <param name="frames/sensor" value="robot_3/base_scan" />
      <param name="topics/vis"    value="/robot_3/vis/map" />
      <param name="topics/sensor" value="/robot_3/scan" />
      <param name="vis/publish_hz" value="0.3" />
    </node>
  </group>

  <group if="$(eval arg('num_bots') >= 4)" ns="robot_4">
    <node name="mapping_node" pkg="mapping" type="mapping_node.py" output="screen"
          args="diff_drive_controller" launch-prefix="bash -c 'sleep 3; $0 $@'">
      <rosparam command="load" file="$(eval find('swarm_explorer') + '/config/mapping_params_' + arg('config') + '.yaml')"/>
      <param name="frames/fixed"  value="map" />
      <param name="frames/sensor" value="robot_4/base_scan" />
      <param name="topics/vis"    value="/robot_4/vis/map" />
      <param name="topics/sensor" value="/robot_4/scan" />
      <param name="vis/publish_hz" value="0.3" />
    </node>
  </group>

  <group if="$(eval arg('num_bots') >= 5)" ns="robot_5">
    <node name="mapping_node" pkg="mapping" type="mapping_node.py" output="screen"
          args="diff_drive_controller" launch-prefix="bash -c 'sleep 3; $0 $@'">
      <rosparam command="load" file="$(eval find('swarm_explorer') + '/config/mapping_params_' + arg('config') + '.yaml')"/>
      <param name="frames/fixed"  value="map" />
      <param name="frames/sensor" value="robot_5/base_scan" />
      <param name="topics/vis"    value="/robot_5/vis/map" />
      <param name="topics/sensor" value="/robot_5/scan" />
      <param name="vis/publish_hz" value="0.3" />
    </node>
  </group>

  <!-- Launch RViz -->
  <include file="$(find swarm_explorer)/launch/swarm_rviz.launch"/>
</launch>
