<launch>
  <arg name="num_bots" default="3"/>
  <include file="$(find swarm_explorer)/launch/swarm_relay.launch"/>
  <!-- loop via xacro or manually include explorer_bot.launch for each ID -->
  <include file="$(find swarm_explorer)/launch/explorer_bot.launch">
    <arg name="robot_id" value="1"/>
  </include>
  <include file="$(find swarm_explorer)/launch/explorer_bot.launch">
    <arg name="robot_id" value="2"/>
  </include>
  <include file="$(find swarm_explorer)/launch/explorer_bot.launch">
    <arg name="robot_id" value="3"/>
  </include>
</launch>
